<a href="https://colab.research.google.com/github/BrunaKrasotaMatos/ParadigmasProgramacao/blob/main/Fixacao_trilha2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

mpg1 = [18,15,18,16,17]
cyl = [8,8,8,8,8]
displa = [307,350,318,304,302]
hp = [130,165,150,150,140]
wei = [3504,3693,3436,3433,3449]
acc = [12,11.5,11,12,10.5]
mdy = [70,70,70,70,70]
org = ['usa','usa','usa','usa','usa']
name = ['chevro','buick','plymo','amc','ford']

mpg = pd.DataFrame({'mpg1':mpg1,'cyl':cyl,'displa':displa,'hp':hp,'wei':wei,'acc':acc,'mdy':mdy,'org':org,'name':name})
print(mpg)

   mpg1  cyl  displa   hp   wei   acc  mdy  org    name
0    18    8     307  130  3504  12.0   70  usa  chevro
1    15    8     350  165  3693  11.5   70  usa   buick
2    18    8     318  150  3436  11.0   70  usa   plymo
3    16    8     304  150  3433  12.0   70  usa     amc
4    17    8     302  140  3449  10.5   70  usa    ford

In [ ]:
len(mpg.columns)

9

In [ ]:
#mean( mpg[ mpg.org == 'usa' , 'hp' ] )
#mpg[ mpg.org == 'usa' , 'hp'].mean()
#mean( mpg[ mpg.org == 'usa' ].hp )
#mpg[ mpg.org == 'usa' ].hp.avg()
mpg[ mpg.org == 'usa' ].hp.mean()
mpg[ mpg.org == 'usa' ]['hp'].mean()

147.0

In [ ]:
#mpg.cyl > 6
#mpg[ cyl > 6 ]


#mpg( cyl > 6 )


mpg[ mpg.cyl > 6 ]


#mpg[ mpg.cyl > 6 ].cyl

   mpg1  cyl  displa   hp   wei   acc  mdy  org    name
0    18    8     307  130  3504  12.0   70  usa  chevro
1    15    8     350  165  3693  11.5   70  usa   buick
2    18    8     318  150  3436  11.0   70  usa   plymo
3    16    8     304  150  3433  12.0   70  usa     amc
4    17    8     302  140  3449  10.5   70  usa    ford

In [ ]:
#a.
print(len( mpg.org == 'usa' ) / len(mpg))

#b.
#sum(mpg[ mpg.org == 'usa' ]) / sum(mpg)

#c.
print('letra c')
len(mpg[ mpg.org == 'usa' ]) / len(mpg)

#d.
#shape(mpg[ mpg.org == 'usa' ]) / shape(mpg)

#e.
#size(mpg[ mpg.org == 'usa' ]) / size(mpg)

1.0
letra c

1.0