<a href="https://colab.research.google.com/github/BrunaKrasotaMatos/ParadigmasProgramacao/blob/main/Trilha1_tarefa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl


lis = [2,4,6,8,10,12,14,16,18,20]

#Questao 2
#(c)
sum(lis)
for i in range(len(lis)): print(lis[i])

#(d)
for i in range(len(lis)): print(lis)

2
4
6
8
10
12
14
16
18
20
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:

#Questao3
lista = ['Beatriz', 'Henrique', 'Adriana', 'Daniel', 'Adriana', 'Thais']

print(lista[3:5])
print(lista.index('Adriana',3))

['Daniel', 'Adriana']
4

In [ ]:
#Questao4

for elem in range(1,9):
  print(elem)

for elem in [1,2,3,4,5]:
  print(elem)

for elem in ['a','b','c']:
  print(elem)

1
2
3
4
5
6
7
8
1
2
3
4
5
a
b
c

In [ ]:
#Questao5

lista = ['Beatriz', 'Henrique', 'Adriana', 'Daniel', 'Adriana', 'Thais']

print(lista.count('Adriana'))
lista.append('Henrique')
print(lista)

2
['Beatriz', 'Henrique', 'Adriana', 'Daniel', 'Adriana', 'Thais', 'Henrique']